@model IList<PostViewModel>

<div class="container">

    <h1 class="mb-60 text-center">Our Latest News</h1>
    
    <div class="row justify-content-center">
        
        @foreach (var post in Model)
        {
            <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
                <!-- Post -->
                <div class="blog-post">
                    <div class="post-media">
                        <a asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug" itemprop="url">
                            <img src="img/intro.jpg" alt="blog" />
                        </a>
                    </div>
                    <div class="post-meta">
                        <span>by @post.Author,</span>
                        <span class="post-date">
                            @post.PublishedDate.ToString("dd MMM yyyy")
                        </span>
                    </div>
                    <div class="post-header">
                        <h4 class="alt-title">
                            <a asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug" itemprop="url">
                                @post.Title
                            </a>
                        </h4>
                    </div>
                    <div class="post-tag">
                        
                        @foreach (var category in post.Categories)
                        {
                        <span>
                            <a asp-controller="Blog" asp-action="Category" asp-route-category="@category.ToLowerInvariant()">
                                @category
                            </a>
                        </span>
                        }
                    </div>
                </div>
                <!-- End Post -->
            </div>
        }
        
    </div>

    <div class="rows text-center mt-60">

        <a asp-controller="Blog" class="link">View All Blog <i class="fa fa-angle-right right"></i></a>

    </div>

</div>