@model BlogPostViewModel

<!-- Header -->
<header id="header" class="header header-light">
    @{
        await Html.RenderPartialAsync("_Header");
    }
</header>

@{
    var post = Model.Post;
}

<!-- Page Intro -->
<section id="inner-intro" class="inner-intro bg-image overlay-light jarallax" data-background-img="@Url.Content($"~/uploads/{post.Spotlight}")">
    <div class="container">
        <div class="intro-content">
            <div class="intro-content-inner">
                <h1 class="">@post.Title</h1>
                <h5 class="alt-title intro-sub-title">@post.Description</h5>
                
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-black-outline btn-lg" asp-controller="Blog" asp-action="Edit" asp-route-id="@post.Id">Edit Post</a>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Page Intro -->

<!-- Blog Section -->
<section class="section-padding">
    <!-- Post Single -->
    <div class="container">
        <div class="row">
            <!--Post Col-->
            <div class="col-md-8 offset-md-2">
                <!-- Post -->
                <div class="blog-post">

                    <div class="post-entry">
                        @*@Html.Raw(PostHelper.CompileContent(Model))*@
                    </div>
                    <div class="post-tag">

                        @foreach (var category in post.Categories)
                        {
                            <span>
                                <a asp-controller="Blog" asp-action="Category" asp-route-category="@category.ToLowerInvariant()">
                                    @category
                                </a>
                            </span>
                        }
                    </div>

                    <br/>

                    <div class="post-meta">
                        <span>by <a>@post.Author</a>,</span>
                        <span class="post-date">
                            @post.PublishedDate.ToString("dd MMM yyyy")</span>
                    </div>

                    <br/>


                    @{
                        //await Html.RenderPartialAsync("_SocialSharing", Model.Title);
                        await Html.RenderPartialAsync("Comments");
                    }


                </div>

                <!-- End Post -->


            </div>


        </div>
    </div>
    <!-- End Post Single-->


</section>
<!-- End Blog Section -->
