@model EditPostViewModel
@{
    Layout = "_Layout";
}


<div class="container">

    <h2>Edit Post</h2>

    <form asp-controller="Posts" asp-action="Edit" asp-area="Dashboard"
          emethod="post" enctype="multipart/form-data">

        <!-- Spotlight -->
        <div class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Spotlight">Spotlight</label>
                <div class="control">
                    <input class="form-control" asp-for="@Model.Spotlight" placeholder="The header image for the blog post" />
                    <span class="text-danger" asp-validation-for="@Model.Spotlight"></span>
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Title">Title</label>
                <div class="control">
                    <input class="form-control" asp-for="@Model.Title" placeholder="The title of the post" />
                    <span class="text-danger" asp-validation-for="@Model.Title"></span>
                </div>
            </div>
        </div>

        <!-- Slug -->
        <div class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Slug">Slug</label>
                <div class="control">
                    <input class="form-control" asp-for="@Model.Slug" placeholder="The url identifier" />
                    <span class="text-danger" asp-validation-for="@Model.Slug"></span>
                </div>
            </div>
        </div>

        <!-- Categories -->
        <div class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Categories">Tags</label>
                <div class="control">
                    <input class="form-control" type="text" name="categories" id="categories" value="@string.Join(", ", Model.Categories)" placeholder="A comma separated list of keywords" />
                    <span class="text-danger" asp-validation-for="@Model.Categories"></span>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Description">Description</label>
                <div class="control">
                    <input class="form-control" asp-for="@Model.Description" placeholder="The sub title of the blog post" />
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div id="content" class="row">
            <div class="standard-control col-md-12">
                <label asp-for="@Model.Content">Content</label>
                <div class="control">
                    <textarea class="form-control" asp-for="@Model.Content" rows="20" placeholder="A brief description of the content of the post"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Content"></span>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="standard-control col-md-4">
                <input class="actions submit" type="submit" value="Save" />
            </div>
        </div>

    </form>

</div>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/js/admin.js" async></script>
}