@model EditViewModel

@{
    Layout = "_Layout";

    var isNew = string.IsNullOrEmpty(Model.Title);
    ViewData["Title"] = "Edit " + (Model.Title ?? "new post");
}


<section class="section-padding">
    <div class="container">
        <div id="edit">

            <form asp-controller="Blog" asp-action="Update" emethod="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="@Model.Id" />

                <!-- Spotlight -->
                @if (isNew)
                {
                    <div class="row justify-content-center">
                        <div class="standard-control col-md-12 col-sm-12">
                            <label asp-for="Spotlight">Spotlight</label>
                            <div class="control">
                                <input class="form-control" type="file" asp-for="Spotlight"
                                       autofocus placeholder="The header spotlight image" />
                                <span class="text-danger" asp-validation-for="Spotlight"></span>
                            </div>
                        </div>
                    </div>
                }

                <!-- Title -->
                <div class="row">
                    <div class="standard-control col-md-12">
                        <label asp-for="@Model.Title">Title</label>
                        <div class="control">
                            <input class="form-control" asp-for="@Model.Title" autofocus placeholder="The title as it appears on the website" />
                            <span class="text-danger" asp-validation-for="@Model.Title"></span>
                        </div>
                    </div>
                </div>

                <!-- Slug -->
                <div class="row">
                    <div class="standard-control col-md-12">
                        <label asp-for="@Model.Slug">Slug</label>
                        <div class="control">
                            <input class="form-control" asp-for="@Model.Slug" autofocus placeholder="The part of the URL that identifies this blog post" />
                            <span class="text-danger" asp-validation-for="@Model.Slug"></span>
                        </div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="row">
                    <div class="standard-control col-md-12">
                        <label asp-for="@Model.Categories">Tags</label>
                        <div class="control">
                            <input class="form-control" type="text" name="categories" id="categories" value="@string.Join(", ", Model.Categories)" autofocus placeholder="A comma separated list of keywords" />
                            <span class="text-danger" asp-validation-for="@Model.Categories"></span>
                        </div>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="standard-control col-md-12">
                        <label asp-for="@Model.Description">Description</label>
                        <div class="control">
                            <textarea class="form-control" asp-for="@Model.Description" rows="3" autofocus placeholder="A brief description of the content of the post"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Description"></span>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div id="content" class="row">
                    <div class="standard-control col-md-12">
                        <label asp-for="@Model.Content">Content</label>
                        <div class="control">
                            <textarea class="form-control" asp-for="@Model.Content" rows="20" autofocus placeholder="A brief description of the content of the post"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Content"></span>
                        </div>
                    </div>
                </div>

                <!-- Published -->
                @*<div class="row">
                        <div class="col-md-12" style="margin: 10px 0">
                            <input asp-for="@Model.IsPublished"/>
                            <label asp-for="@Model.IsPublished">Is published</label>
                        </div>
                    </div>*@

                <div class="row justify-content-center">

                    @if (isNew)
                    {
                        <div class="standard-control col-md-4">
                            <input class="actions submit" type="submit" value="Save" />
                        </div>
                    }
                    else
                    {
                        <div class="standard-control col-md-4 ">
                            <input class="actions submit delete" type="submit" value="Delete" asp-action="Delete" asp-route-id="@Model.Id" />
                        </div>

                        <div class="standard-control col-md-4">
                            <input class="actions submit" type="submit" value="Save" />
                        </div>
                    }

                </div>

            </form>

        </div>
    </div>

</section>
@section Scripts {
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/js/admin.js" async></script>
}