@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
}

<!-- Partial class for post item to be displayed in a list -->
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <div>
        <header>
            <!-- Post Title -->
            <h1 itemprop="name headline">
                <a asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug" itemprop="url">@Model.Title</a>
            </h1>
            <!-- Post Time -->
            <time datetime="@Model.PublishedDate.ToString("s")" itemprop="datePublished">Published @Model.PublishedDate.ToString("MMMM d, yyyy")</time>
            <!-- Edit -->
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.ID" title="Edit the post">Edit</a>
            }
        </header>
    </div>
    <div class="excerpt">
        <p>@Model.Excerpt</p>
    </div>
    <div>
        @if (Model.Categories.Any())
        {
            <text> Posted in </text>
            <ul class="categories">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a asp-controller="Blog" asp-action="Category" asp-route-category="@category.ToLowerInvariant()">@category</a>
                    </li>
                }
            </ul>
            <text>and has</text>
        }
        <a href="@Model.Link#comments" itemprop="discussionUrl" title="Go to the comments section">
            <span itemprop="commentCount">@Model.Comments.Count</span> comments
        </a>
        <meta itemprop="author" content="@settings.Value.Owner" />
        <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
        <meta itemprop="mainEntityOfPage" content="@(host + Model.Link)" />
    </div>
</article>
